html{
    font-size: 10px;
}
body, h1,h2,h3, p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
img{
    width: 100%;
}
ul>h2{
    text-align: center;
}
ol{
    list-style: none;
}

header,section{
    width: 100%;
    display: grid;
    place-items: center;
}

.container-tittle, .container-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 1rem 3rem;
}
.container-tittle{
    width: 20rem;
}

.img-logo{
    width: 5rem;
    height: auto;
}
h1.tittle{
    font-size: 3rem;
    margin-left: 2rem;
}

/*links recipes*/

.container-link{
    height: 20rem;
    width: 50rem;
}

/*more recipes*/

.list-recipes{
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "recipe1 recipe2"
    "recipe3 recipe3";
    grid-template-rows: 15rem 20rem 20rem;
    grid-template-columns: 20rem 20rem;
}

ul{
    list-style-type: none;
}
ul >img{
    grid-area: h2;
    height: 15rem;
    text-align: center;
}
ul> li:first-child{
    grid-area: recipe1;
    
}
ul> li:nth-child(2){
    grid-area: recipe2;
}
ul> li:last-child{
    grid-area: recipe3;
    text-align: center;
}
.link-recipe{
    text-decoration: none;
    padding: 1rem;
}

li>img{
    width: 15rem;
    padding: 2rem;
}

/* bee recipe*/
section>h1.tittle{
    font-size: 3rem;
}

.img-bee{
    width: auto;
    padding-left: 4rem;
}
.section-bee{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;

}
.description-bee{
    width: 50rem;
}

article.content-bee{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-ingredient{
    text-align: center;
    justify-content: center;
    align-items: center;
}
li>p{
    font-size: 1.5rem;
    padding: 1rem;
}

/*beef */
.img-beef{
    width: 40rem;
    text-align: left;
    padding-right: 15rem;
}
.description-text{
    padding-left: 6rem;
}
.section-description-beef{
    display: grid;
    grid-template-columns: 60% 40%;
    
}
.section-content-beef{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

div>h2, ol>h2{
    text-align: center;
}

/*golden rice*/

.golden-img{
    width: 40rem;
    padding-right: 15rem;
}
.description-rice, .content-rice{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul.list-ingredients>li{
    text-align: justify;
}

/*zuppa toscana*/

.description-zuppa>img{
    height: auto;
    width: 40rem;
}

.description-zuppa,ol>li{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-zuppa{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(8);
}
.instructions-zuppa>li>div, .description-zuppa>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 5rem;
    justify-content: center;
}

.instructions-zuppa>li>img{
    width: 30rem;
    padding-left: 5rem;
}
